// Colors
$white: #F3F3F3;
$orange: #FF7A00;
$red: #E03616;
$green: #45C4A2;
$black: #030202;

// Mixins
@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

html {
    color: $white;
    // DEBUG !!!
    background-color: ivory;
    // DEBUG !!!
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    @media  screen and (max-width: 450px) {
        font-size: 12px;
    }

    * {
        box-sizing: border-box;
    }

    body {
        min-height: 100dvh;
        min-height: calc(var(--vh, 1vh) * 100);
        overflow-x: hidden;
        margin: 0;
        @include flex(space-between, unset, column);

        .container {
            margin: 0 auto;
            max-width: 1100px;
            width: 100%;
        }
        
        button {
            font-family: inherit;
            background: unset;
            color: inherit;
            border: none;
        }
    
        input, textarea {
            outline: none;
            border: none;
            font-family: "Comic Relief", system-ui;
            font-weight: 400;
            font-style: normal;
        }
    
        select {
            appearance: none;
            border: 0;
            outline: 0;
            font: inherit;
        }

        figure {
            margin: 0;
        }
    
        a {
            color: inherit;
            text-decoration: none;
        }
    
        img {
            object-fit: contain;
        }

        .composition {
            position: relative;
        }

        #root {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: ivory;
        
            .r3f {
                touch-action: none;
            }

            .black-screen {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: $black;
            }

            #asking-audio {
                width: 100%;
                height: 100%;
                background-color: $black;
                @include flex();

                .audio {
                    width: 100%;
                    height: 30vh;
                    border-radius: 20px;
                    padding: 20px 40px;
                    background-color: rgba(black, 0.5);
                    border: 5px solid rgba($orange, 0.75);
                    border-style: solid double;
                    @include flex($direction: column, $justify: space-around);
                
                    @media screen and (max-width: 1100px) {
                        height: 50vh;
                    }

                    .text {
                        width: 100%;
                        font-size: 1.5rem;
                        text-align: center;
                    }

                    .buttons {
                        width: 100%;
                        @include flex($justify: space-around);

                        .button {
                            width: 40px;
                            padding: 5px;
                            border-radius: 5px;

                            &:hover, &:active {
                                background-color: rgba($orange, 0.25);
                            }
                        }
                    }
                }
            }

            #riri {
                position: absolute;
                top: 50vh;
                left: 50vw;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $orange;
                box-shadow: #ad5502;
            }

            #chat {
                position: fixed;
                z-index: 42;
                left: 0;
                bottom: 0;
                margin: 15px auto;
                width: 100%;

                .chat {
                    @include flex();
                    width: 100%;
                    border-radius: 20px;
                    margin: 5px auto;
                    padding: 15px 50px;
                    height: 15vh;
                    overflow: auto;
                    background-color: rgba(black, 0.5);
                    border: 5px solid rgba($orange, 0.75);
                    border-style: solid double;
                    box-shadow: rgba($orange, 0.25) 0px 30px 60px -12px inset, rgba($orange, 0.3) 0px 18px 36px -18px inset;
                }
            }

            .background-section {
                @include flex($direction: column, $justify: flex-start);
                width: 100%;
                border-radius: 20px;
                margin: 5px auto;
                padding: 15px 50px;
                height: 80vh;
                overflow: auto;
                background-color: rgba(black, 0.5);
                border: 5px solid rgba($orange, 0.75);
                border-style: solid double;
                box-shadow: rgba($orange, 0.25) 0px 30px 60px -12px inset, rgba($orange, 0.3) 0px 18px 36px -18px inset;

                @media screen and (max-width: 1100px) {
                    padding: 15px 50px 15px 0px;
                }

                .close {
                    width: 100%;
                    height: 10%;
                    @include flex($justify: flex-end);

                    img {
                        width: 40px;
                    }
                }
            }

            .escape-button {
                width: 40px;
                position: fixed;
                z-index: 42;
                top: 2vh;
                left: 4vw;
            }
            
            .sound-button {
                width: 40px;
                position: fixed;
                z-index: 42;
                top: 2vh;
                right: 4vw;
                z-index: 666;
            }

            .wip {
                width: 100%;
                height: 80%;
                font-size: 1.5rem;
                @include flex();
            }
            
            .experience {
                width: 100%;
                height: 80%;
                overflow-x: hidden;
                @include flex($direction: column, $justify: space-around);

                @media screen and (max-width: 1100px) {
                    height: 100%;
                }
                
                .exp {
                    width: 100%;
                    @include flex();
                    @media  screen and (max-width: 450px) {
                        @include flex($direction: column);
                    }

                    .left {
                        width: 50%;
                        border-right: 1px solid rgba($orange, 0.75);
                        @include flex($direction: column);
                        @media  screen and (max-width: 450px) {
                            border-right: unset;
                            border-bottom: 1px solid rgba($orange, 0.75);
                        }
                    
                        .job, .dates {
                            width: 100%;
                            padding: 5px 20px;
                            text-align: center;
                            @include flex($justify: flex-end);
                        }

                        .job {
                            font-size: 1.75rem;
                            margin: 10px auto;
                        }

                        .dates {
                            font-style: italic;
                            color: $orange;
                        }
                    }

                    .roles {
                        width: 50%;
                    }
                }
            }

            .illustrated-work {
                width: 100%;
                height: 80%;
                overflow-x: hidden;
                @include flex();

                @media screen and (max-width: 1100px) {
                    height: 100%;
                    @include flex($direction: column);
                }

                .caroussel {
                    width: 50%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    
                    @media screen and (max-width: 1100px) {
                        width: 100%;
                    }

                    .slide {
                        position: absolute;
                        opacity: 0;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .active {
                        opacity: 1;
                    }
                }

                .descriptions {
                    width: 50%;
                    height: 100%;
                    padding: 0px 25px;
                    @include flex($direction: column, $justify: space-around);

                    @media screen and (max-width: 1100px) {
                        width: 100%;
                        padding: 0;
                        margin: 10px auto;
                    }

                    .element {
                        width: 100%;
                        margin: 5px auto;
                        @include flex($direction: column);

                        // @media screen and (max-width: 1100px) {
                        //     margin: 0;
                        // }

                        .title {
                            width: 100%;
                        }

                        .desc {
                            width: 100%;
                            font-style: italic;
                            font-size: .75rem;
                        }
                    }

                    .active {
                        background-color: rgba($orange, 0.5);
                    }
                }
            }

            .contact-form {
                width: 60%;
                height: 80%;
                @include flex($direction: column, $justify: space-around);

                @media screen and (max-width: 1100px) {
                    width: 100%;
                    height: 100%;
                }

                .datum {
                    width: 100%;
                    @include flex($direction: column, $align: flex-start);

                    label {
                        padding: 10px 0;
                    }

                    input {
                        width: 100%;
                        height: 2rem;
                        border-radius: 10px;
                    }

                    textarea {
                        width: 100%;
                        height: 15rem;
                        border-radius: 10px;
                    }
                }

                button {
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 1.5rem;
                    background-color: $orange;

                    &:hover, &:active {
                        background-color: rgba($orange, 0.75);
                    } 
                }

                .waiting {
                    opacity: 0;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 1.5rem;
                }

                .message-sent {
                    opacity: 1;
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: $green;
                    font-size: 1.5rem;
                }
            }

            #bar-experiences,
            #animator-experiences,
            #receipes,
            #bar-contact,
            #clothes,
            #furniture,
            #knit-and-hook,
            #animator-contact,
            #board-games,
            #juggling,
            #theatre,
            #sport,
            #music,
            #languages {
                position: fixed;
                z-index: 42;
                left: 0;
                top: 0;
                margin: 15px auto;
                width: 100%;
            }

            #presentation {
                // DEBUG !!!
                background-color: $black;
                // DEBUG !!!
                width: 100%;
                height: 100vh;
                z-index: 66;

                .chat {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin: 15px auto;
                    width: 100%;
                    border-radius: 20px;
                    padding: 15px 50px;
                    height: 15vh;
                    @include flex();
                    // DEBUG !!!
                    border: 5px solid rgba($orange, 0.75);
                    border-style: solid double;
                    box-shadow: rgba($orange, 0.25) 0px 30px 60px -12px inset, rgba($orange, 0.3) 0px 18px 36px -18px inset;
                    // DEBUG !!!
                }

                .next {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 0.75rem;
                    padding: 4vh 2vw;

                    @media screen and (max-width: 1100px) {
                        font-size: 1.25rem;
                        padding: 3vh 4vw;
                    }
                }
            }

            .htmlScreen {
                iframe {
                    width: 1054px;
                    height: 641px;
                    border: none;
                    border-radius: 20px;
                    background: black;
                }
            }
        }
    }
}